<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form>
    <div class="formGroup">
      <h1>To Do List</h1>
      <div class="inputGroup">
        <input type="text" #todo class="formText" placeholder="Add Todo Item" name="todo" ngModel>

        <button class="inputTextAdd" type="button" (click)=addItemTodo(todo.value)>Add Item</button>
      </div>
      <div class="todoContainer">
        <ul class="listTodo">
          <li *ngFor="let todo of list">{{todo}}

          </li>
        </ul>
      </div>
    </div>
  </form>
</div>